{% extends 'base.html' %}
{% block login %}

 
<div class="row ml-3">
    {% for i in products %}
    <div class="col-md-6 p-4">
        <img class="card-img-top" src="{{ i.image.url }}"  alt="Card image cap">
        </div>
<div class="col-md-6 p-4 ">
  <div class="card" id="card1">
    <div class="card-body">
      <h5 class="card-title">{{ i.name }}</h5>
      <h4>{{i.discriptiom}}</h4>
      <form method="POST">
        {% csrf_token %}
        <input type="hidden" value="{{ i.id }}" name="pid">
      <button type="submit" class="btn btn-outline-dark"><a href="{% url 'email' i.id %}">Book Now</button></a>
      <button type="submit" class="btn btn-outline-dark"><a href="{% url 'cart' %}">Add To Cart</button></a>
      </form>
    

    </div>
  </div>
</div>
{% endfor %}
</div>


{% endblock %}




