{% extends 'base.html' %}
{% block index  %}


<section id="aboutus">
  <div class="container py-4">
      <div class="row">
          <div class="col-sm-12">
              <div class="grey-container "data-wow-delay=".2s">
                  <div class="img-border wow bounceInUp " data-wow-delay=".2s">
                      <img src="https://www.reliancepetroleum.com/img/serviceguidebook.jpg" class="img-responsive">
                  </div>
                  <div class="rightsection">
                      <!-- <p><strong>Our Service Philosophy : </strong></br> We aspire to create an enriching fuelling experience at our retail outlets for our customers through service excellence, and act upon customer inputs to serve them better every day.</p> -->
                      <h2>Our Service Philosophy: We aspire to create <span>an enriching fuelling experience</span> at our retail outlets for our customers through service excellence, and act upon customer inputs to serve them better every day.</h2>
                      <!-- <h3></h3> -->
                      <br>
                  </div>


                  <section class="rightsection2  wow bounceInUp" data-wow-delay=".2s">
                      <div class="pagetitle2"><strong>Our Service Standards</strong></div>
                      <p>We are committed to providing a holistic ecosystem for our customers by creating a seamless experience at our outlets. We differentiate ourselves on superior technical standards and unparalleled customer value. We have established the following standards for customer service across our retail outlets:</p>


                      <div id="stdcontainer" class="row">
                          <div class="col-sm-4">
                              <article class="brdbox wow bounceInUp" data-wow-delay=".4s">
                                  <div class="arthead"><i class="fa fa-sitemap"></i> Process Standards</div>
                                  <br>
                                  <ul id="listitems">
                                      <li>Round the clock product availability</li>
                                      <li>Quick electronic billing for every transaction</li>
                                      <li>Minimum wait time for our high-speed dispensers</li>
                                      <li>Automated system to ensure exact quantity & quality</li>
                                  </ul>
                              </article>
                          </div>

                          <div class="col-sm-4">
                              <article class="brdbox wow bounceInUp" data-wow-delay=".6s">
                                  <div class="arthead"><i class="fa fa-users"></i> People Standards</div>
                                  <br>
                                  <ul id="listitems">
                                      <li>Knowledgeable staff</li>
                                      <li>Friendly and courteous behavior</li>
                                      <li>Well-groomed and clean attendants </li>
                                  </ul>
                              </article>
                          </div>

                          <div class="col-sm-4">
                              <article class="brdbox wow bounceInUp" data-wow-delay=".8s">
                                  <div class="arthead"><i class="fa fa-industry"></i> Infrastructural Standards</div>
                                  <br>
                                  <ul id="listitems">
                                      <li>Easy traffic movement</li>
                                      <li>Clean washrooms</li>
                                      <li>Free air service</li>
                                      <li>Free drinking water</li>
                                  </ul>
                              </article>
                          </div>
                      </div>
                  </section>

                  <section class="rightsection2 wow bounceInUp" data-wow-delay=".2s">
                      <div class="pagetitle2"><strong>An excerpt from The Economic Times endorsing our operational standards:</strong> </div>
                      <p>
                          “Robust automation of daily fuel pricing at 100% of operational retail outlets, ensuring customers of correct and timely price implementation. Petrol pumps across the industry have been under scrutiny for meter tampering. No instances of meter tampering has been reported for any of Reliance’s petro retail outlets, indicating strong operational credibility.”
                      </p>
                  </section>


                  <section class="rightsection2  wow bounceInUp" data-wow-delay=".2s">
                      <div class="pagetitle2"><strong>Customer Touch Points</strong></div>
                      <p><strong>We are committed to delivering a seamless customer experience at our fuel stations. </strong></p>
                      <p><strong>Reach us through one of these options and we will be glad to serve you:  </strong></p>
                      <ul id="listitems">
                          <li><strong>Toll free helpline – Call us at</strong> <span> 1800223023</span> – This helpline is in operation 24 x 7, and offers customer support in 4 languages – Hindi, English, Gujarati, Marathi</li>
                          <li><strong>Email ID – Email us at </strong> <a href="mailto:customerCare.Petroleum@jiobp.com"> customerCare.Petroleum@jiobp.com </a>– your query/feedback and our service representative will call you on the number provided within 48 working hours.</li>
                          <li><strong>Complaint Register –</strong> A register is available for filing complaints/feedback at each of our outlets as a mandate. Our Area Manager/Outlet supervisor will also provide you with a copy of the filed complaint/feedback as a reference, and also provide you with a resolution response within 7 working days.</li>
                          <li><strong>Fuel Station –</strong> You can walk into the Sales Room area at any of our outlets and request for the Supervisor/Manager who will be happy to help you with your query. The number of the Supervisor/Manager is also displayed in the Sales Room area as a reference for any further follow up.</li>
                          <li><strong>Website –</strong> Use the “Contact Me” tab on the home page, or <a href="feedback"></a>. One of our representatives will reach out to you to help you with your query within 24 working hours.</li>
                      </ul>
                  </section>

                  <section class="rightsection2 wow bounceInUp" data-wow-delay=".2s">
                      <div class="pagetitle2"><strong>Grievance Redressal</strong> </div>
                      <p>
                          We take our customer grievances very seriously, as it helps us in improving our services. Customers can reach us through any of the above mentioned touch points to register their grievance. We assure a response within 7 working days of receipt of any grievance, and it is our endeavour to offer a speedy and satisfactory resolution. <br>
                          <a href="feedback"></a> to register your grievance.
                      </p>
                  </section>

                  <section class="rightsection2  wow bounceInUp" data-wow-delay=".2s">
                      <div class="pagetitle2"><strong>Product Portfolio </strong> </div>
                      <div id="stdcontainer2" class="row">
                          <div class="col-sm-4">
                              <article class="brdbox wow bounceInUp" data-wow-delay=".4s">
                                  <div class="arthead"><i class="fa fa-tags"></i> Fuel Products</div>
                                  <br>
                                  <ul id="listitems">
                                      <li>Motor Spirit (Petrol)</li>
                                      <li>High Speed Diesel</li>
                                      <li>Auto LPG</li>
                                  </ul>
                              </article>
                          </div>

                          <div class="col-sm-4">
                              <article class="brdbox wow bounceInUp" data-wow-delay=".6s">
                                  <div class="arthead"><i class="fa fa-tint"></i> RELStar Lubricants</div>
                                  <br>
                                  <ul id="listitems">
                                      <li>2 Wheeler Oil</li>
                                      <li>Diesel Engine Oil</li>
                                      <li>Passenger Car Oil</li>
                                      <li>Gear Oil</li>
                                      <li>Hydraulic Oil</li>
                                      <li>Grease</li>
                                      <li>Coolant </li>
                                  </ul>
                              </article>
                          </div>

                          <div class="col-sm-4">
                              <article class="brdbox wow bounceInUp" data-wow-delay=".8s">
                                  <div class="arthead"><i class="fa fa-cogs"></i> Services</div>
                                  <br>
                                  <ul id="listitems">
                                      <li>Transconnect </li>
                                      
                                      <li>Mechanic Loyalty Program</li>
                                      <li>Transhelp 24 </li>
                                  </ul>
                              </article>
                          </div>
                      </div>
                  </section>
                  </div>
                  </div>
                  </div>
                  </div>
                  </section>



                  
{% endblock %}
